body{
    background-color: (url="bg.gif") ;
    font-family: 'Raleway', sans-serif;
   
}
.heart{
    width: 100px;
    height: px;
    border-radius: 50px;
}
.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px grey;
    font-family: 'Raleway', sans-serif;   font-weight: bold;
    text-align: center;
}
.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Raleway', sans-serif;
margin-left: 450px;
}

.heading_div2 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;}

.header_div img{
    width: 100px;
}
    
    html, body {
    background: #F7F5E6;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .slider {
    margin: 0 auto;
    max-width: 940px;
  }
  
  .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: #D7A151;
  }
  
  .slide:nth-of-type(2) {
    background: #F4E4CD;
  }
  
  .slide:nth-of-type(3) {
    background: #C75534;
  }
  
  .slide:nth-of-type(4) {
    background: #D1D1D4;
  }
  .slide:nth-of-type(5) {
    background: #E0BBE4;
  }
  .slide:nth-of-type(6) {
    background: #CBC5EA;
  }
  .slide:nth-of-type(7) {
    background: #D6ECD2;
  }
  .slide:nth-of-type(8) {
    background: #80BA9D;
  }
  .slide:nth-of-type(9) {
    background: #A9C4DD;
  }
  .slide:nth-of-type(10) {
    background: #CDD7EF;
  }
  .slide:nth-of-type(11) {
    background: #BEE0B4;
  }
  .slide:nth-of-type(12) {
    background: #80BA9D;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }
  img{
      width: 400px;
      border-radius: 10px;
      margin-top: 15px;
  }
  .nextpage{
    margin-top: -200px;
    width: 100px;
    height: 50px;
    font-size:medium;
  }